*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family:Comfortaa;
    scroll-behavior: smooth;
}
.wrapper{
    background-image: url(../images/edit.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
/* navbar */
.navbar
{
    height: 15vh;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
}
.navbar img{
    width: 50px;
    margin-left: 50px;
    margin-top: 20px;
}
.nav-items{
    float: right;
    margin-top: 37px;
    margin-right: 80px;
} 
.nav-items ul li{
    display: inline-flex;
    list-style: none;
}
.nav-items ul li a{
    text-decoration: none;
    padding: 5px 10px;
    font-size: 18px;
    letter-spacing: 1px;
    color: whitesmoke;
} 
.hero{
    margin-top: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 100%;
}
.wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
}
.left{
    float: left;
    width: 40%;
    background-color:#024059;
    margin-left: 50px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.row-1 p{
    margin: 1px;
}
.left .row-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 30px;
}
.row-1 p{
    margin-left:25px;
    color: whitesmoke;
}
.left h2{
    margin-top:10px;
    padding: 10px 15px;
    color: whitesmoke;
}
.right{
    width: 40%;
    background-color:#024059;
    margin-right: 50px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.right .wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 30px;
    justify-content: center;
}
.right .row-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 30px;
}
.right h2{
    margin-top: 20px;
    padding: 10px 20px;
    color: whitesmoke;
}
.right button{
    margin-top: 40px;
    margin-bottom: 10px;
    text-align:center;
    padding: 8px 12px;
    border: none;
    font-size: 22px;
    border-radius: 15px;
    background-color: #BF8339;
    color: white;
    outline: none;
    transition:0.3s ease-in;
}

.wrap button:hover{
    font-size: 25px;
}
.formy{
    margin-top: 20px;
}
.formy input[type="text"]
{
    padding: 15px 30px;
    outline: none;
    margin: 10px 20px;
    border: none;
    border-radius: 12px;
    color: white;
    background-color:#BF8339;
}
.formy button{
    margin-top: 8px;
    margin-bottom: 30px;
    text-align:center;
    padding: 8px 12px;
    border: none;
    font-size: 22px;
    border-radius: 15px;
    background-color: #BF8339;
    color: white;
}

::placeholder{
    color: whitesmoke;
}