*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family:Comfortaa;
    scroll-behavior: smooth;
}
.wrapper{
    background-image: url(../images/hello.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}


/* navbar */
.navbar
{
    height: 15vh;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
}
.navbar img{
    width: 110px;
    margin-left: 40px;
    margin-top: -10px;
}
.nav-items{
    float: right;
    margin-top: 37px;
    margin-right: 60px;
} 
.nav-items ul li{
    display: inline-flex;
    list-style: none;
}
.nav-items ul li a{
    text-decoration: none;
    padding: 5px 10px;
    font-size: 18px;
    letter-spacing: 1px;
    color: whitesmoke;
} 
/* hero */
.hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.hero h1{
    text-align:center;
    margin-bottom: 15px;
}
.hero p{
    text-align:center;
    margin-bottom: 15px;
    color:#011C26;
}
.btn{
    text-align:center;
}
.btn button{
    text-align:center;
    padding: 8px 12px;
    border: none;
    margin: 10px 15px;
    font-size: 18px;
    border-radius: 15px;
    background-color: #BF8339;
    color: white;
}




/* What we offer */
.offer h1{
    margin-top: 10px;
    text-align: center;
    padding:10px 20px;
    margin-bottom: 20px;
    background-color:#024059;
    color: white;
}
.wrap{
    margin-top: 7px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.box-1{
    width: 30%;
    margin:5px 10px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 5px 10px #888888;
}
.box-1 img{
    margin-top: 15px;
    border-radius: 80%;
}
.box-1 h2{
    margin-top: 5px;
    margin-bottom: 10px; 
}
.box-1 p{
    margin-bottom: 5px;
}
.box-1 button{
    text-align:center;
    padding: 8px 12px;
    border: none;
    margin: 10px 15px;
    font-size: 18px;
    border-radius: 15px;
    background-color: #BF8339;
    color: white;
}
.box-2{
    width: 30%;
    margin:5px 10px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 5px 10px #888888;
}
.box-2 img{
    margin-top: 15px;
    border-radius: 80%;
}
.box-2 h2{
    margin-top: 5px;
    margin-bottom: 10px;  
}
.box-2 p{
    margin-bottom: 5px;
}
.box-2 button{
    text-align:center;
    padding: 8px 12px;
    border: none;
    margin: 10px 15px;
    font-size: 18px;
    border-radius: 15px;
    background-color: #BF8339;
    color: white;
}

.box-3{
    width: 30%;
    margin:5px 10px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 5px 10px #888888;
}
.box-3 img{
    margin-top: 15px;
    border-radius: 50%;
}
.box-3 h2{
    margin-top: 5px;
    margin-bottom: 10px;  
}
.box-3 p{
    margin-bottom: 5px;
}
.box-3 button{
    text-align:center;
    padding: 8px 12px;
    border: none;
    margin: 10px 15px;
    font-size: 18px;
    border-radius: 15px;
    background-color: #BF8339;
    color: white;
}





/* About us */

.Aboutus{
    margin-top: 40px;
}
.Aboutus h1{
        margin-top: 10px;
        text-align: center;
        padding:10px 20px;
        margin-bottom: 20px;
        background-color:#024059;
        color: white;
}
.wrap{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
.wrap .left{
    width: 50%;
}
.left img{
    width: 600px;
    height: 50vh;
    opacity: 80%;
}
.wrap .right{
    width: 40%;
}
.right h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.right button{
    margin-top: 20px;
    text-align:center;
    padding: 8px 12px;
    border: none;
    font-size: 18px;
    border-radius: 15px;
    background-color: #BF8339;
    color: white;
}



/* thanks */
.thanks h2{
    background-color:#73bfee;
    width: 35%;
    margin-top: 40px;
    padding: 10px 20px;
    letter-spacing: 2px;
    color: white;
}



/* Team */

.team h1{
        margin-top: 10px;
        text-align: center;
        padding:10px 20px;
        margin-bottom: 20px;
        background-color:#024059;
        color: white;
}




/* Client */

.Clients h1{
        margin-top: 10px;
        text-align: center;
        padding:10px 20px;
        margin-bottom: 20px;
        background-color:#024059;
        color: white;
}
.Clients .box-1 p{
    margin-bottom: 30px;
}

/* Contact Us */
.contact{
    margin-top: 10px;
    margin-bottom: 50px;
    width: 100%;
}
.wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.wrap .contact-left{
    width: 50%;
}

.wrap .contact-right{
    width: 40%;
}

/* left contact us */
.contact-left{
    width: 50%;
    float: left;
    margin-left: 20px;
    justify-content: center;
}
.contact-left h1{
    margin-top: 30px;
    text-align: center;
    box-shadow: 2px 5px #888888;
    padding:7px 10px;
    margin-bottom: 30px;
    background-color:#024059;
    color: white;
}
.formy{
    justify-content: center;
    margin-left: 90px;
    margin-top: 50px;
}
.formy input[type="text"]
{
    padding: 15px 30px;
    outline: none;
    margin: 5px 10px;
    border: none;
    border-radius: 12px;
    background-color:#CEE4F2;
}
.formy input[type="email"]
{
    padding: 15px 30px;
    outline: none;
    margin: 5px 10px;
    outline: none;
    border: none;
    border-radius: 12px;
    background-color:#CEE4F2;
}
.formy textarea{
    padding: 10px 20px;
    outline: none;
    margin: 5px 10px;
    width: 77%;
    height: 20vh;
    border:none;
    border-radius: 12px;
    background-color: #CEE4F2;
    text-decoration: none;
}
.formy button{
    margin-top: 8px;
    margin-left:175px;
    margin-bottom: 30px;
    text-align:center;
    padding: 8px 12px;
    border: none;
    font-size: 20px;
    border-radius: 15px;
    background-color: #BF8339;
    color: white;
}
::placeholder{
    color:#024059 ;
}
input:focus::placeholder {
    color: transparent;
}


/* Right container */

.contact-right{
    width: 50%;
    float: left;
    margin-left: 20px;
    justify-content: center;
}

.contact-right h1{
    margin-top: 30px;
    text-align: center;
    box-shadow: 2px 5px #888888;
    padding:7px 10px;
    margin-bottom: 30px;
    background-color:#024059;
    color: white;
}

.main-cont h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.main-cont h3{
    margin-top: 20px;
    text-align: center;
    margin-left: 20px;
}

.main-cont p{
    margin-left: 90px;
    text-align:left;
    margin-top: 8px;
    font-size: 18px;
}

.main-cont .icon ul{
    margin-left: 140px;
    margin-top: 20px;
    display: inline-flex;
}

.icon ul li{
    list-style: none;
    padding: 10px 20px;
}

.foot{
    background-color: rgba(0,0,0,0.5);
    margin-top: -25px;
}
.foot p{
    padding: 10px 20px;
    text-align: center;
    color: white;
}