*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family:Comfortaa;
    scroll-behavior: smooth;
}
.wrapper{
    background-image:url(../images/log.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;
}
.image img{
    width: 120px;
    margin-bottom: 8px;
}
.wrapper h1{
    letter-spacing: 3px;
}
.formy input[type="text"],input[type="password"]
{
    padding: 15px 30px;
    outline: none;
    margin: 5px 10px;
    width: 25%;
    border: none;
    border-radius: 12px;
    color: white;
    background-color:#024059;
}
::placeholder{
    color: white;
    letter-spacing: 2px;
}
input:focus::placeholder {
    color: transparent;
}
.formy button{
    margin-top: 8px;
    margin-bottom: 40px;
    text-align:center;
    padding: 8px 12px;
    border: none;
    font-size: 18px;
    border-radius: 15px;
    background-color: #BF8339;
    color: white;
    outline: none;
}
.Message{
    line-height: 1.6rem;
}
.Message p{
    color:whitesmoke;
}
.Message a{
    text-decoration: none;
    color:greenyellow;
}