*{
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
    font-family:Comfortaa;
}
.wrapper{
    background-image: url(../images/SuccessChanged.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.navbar h1{
    background-color:rgba(0,0,0,0.5);
    width: 100%;
    height: 10vh;
    text-align: center;
    padding: 20px 10px;
    color: white;
    letter-spacing: 2px;
}
.head{
    background-color: #BF8339;
    width: 100%;
    height: 8vh;
}
.head h3{
    height: 8vh;
    text-align: center;
    letter-spacing: 2px;
    color: white;
}
.hero{
    margin-top: 30px;
    text-align: center;
}
.hero h3{
    text-align: center;
    background-color: #CEE4F2;
    padding: 15px 30px;
}
.hero p{
    text-align: center;
}
.hero button{
    margin-top: 40px;
    margin-bottom: 30px;
    text-align:center;
    padding: 8px 12px;
    border: none;
    font-size: 22px;
    border-radius: 15px;
    background-color: #BF8339;
    color: white;
    outline: none;
    transition:0.3s ease-in;
}

.hero button:hover{
    font-size: 25px;
}