*{
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
    font-family:Comfortaa;
}
.wrapper{
    background-image: url(../images/main.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.navbar h1{
    background-color:rgba(0,0,0,0.5);
    width: 100%;
    height: 10vh;
    text-align: center;
    padding: 20px 10px;
    color: white;
    letter-spacing: 2px;
}
.head{
    background-color: #BF8339;
    width: 100%;
    height: 10vh;
}
.head h1{
    text-align: center;
    padding: 5px 10px;
    letter-spacing: 2px;
}
.head h2{
    height: 10vh;
    text-align: center;
    letter-spacing: 2px;
}
.head h2 span{
    color: white;
}
/* form */
.formy{
    text-align: center;
    margin-top: 30px;
}
.formy input[type="text"],input[type="password"]
{
    padding: 15px 30px;
    outline: none;
    margin: 5px 10px;
    border: none;
    border-radius: 12px;
    color: white;
    background-color:#024059;
}
::placeholder{
    color: white;
}
input:focus::placeholder {
    color: transparent;
}
.formy input[type="email"]
{
    padding: 15px 30px;
    outline: none;
    margin: 5px 10px;
    outline: none;
    border: none;
    border-radius: 12px;
    color: white;
    background-color:#024059;
}
.formy button{
    margin-top: 8px;
    margin-bottom: 30px;
    text-align:center;
    padding: 8px 12px;
    border: none;
    font-size: 22px;
    border-radius: 15px;
    background-color: #BF8339;
    color: white;
}

