*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family:Comfortaa;
    scroll-behavior: smooth;
}

.wrapper{
    background-image: url(../images/pass.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.navbar h1{
    background-color:rgba(0,0,0,0.5);
    width: 100%;
    height: 10vh;
    text-align: center;
    padding: 20px 10px;
    color: white;
    letter-spacing: 2px;
}
.head{
    background-color: #BF8339;
    width: 100%;
    height: 8vh;
}
.head h3{
    height: 8vh;
    text-align: center;
    letter-spacing: 2px;
    color: white;
}
.wrap{  
    margin-top: 90px; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.left{
    background-color:#024059;
    width: 35%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 42vh;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.left h1{
    text-align: center;
    padding: 10px 20px;
    margin-top: 30px;
    color: whitesmoke;
}
.left p{
    padding: 10px 20px;
    color: whitesmoke;
}
.left button{
    margin-top: 8px;
    margin-bottom: 30px;
    text-align:center;
    padding: 8px 12px;
    border: none;
    font-size: 22px;
    border-radius: 15px;
    background-color: #BF8339;
    color: white;
}

.right{
    background-color:#024059;
    width: 35%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 42vh;
    border-radius: 10px;
    box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.right button{
    margin-top: 8px;
    margin-bottom: 30px;
    text-align:center;
    padding: 8px 12px;
    border: none;
    font-size: 22px;
    border-radius: 15px;
    background-color: #BF8339;
    color: white;
}
.right h1{
    text-align: center;
    padding: 10px 20px;
    margin-top: 30px;
    color: whitesmoke;
}
.right p{
    padding: 10px 20px;
    color: whitesmoke;
}