*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family:Comfortaa;
    scroll-behavior: smooth;
}
.wrapper{
    background-image: url(../images/suggestions.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}


/* navbar */
.navbar
{
    height: 15vh;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
}
.navbar img{
    width: 50px;
    margin-left: 50px;
    margin-top: 20px;
}
.nav-items{
    float: right;
    margin-top: 37px;
    margin-right: 80px;
} 
.nav-items ul li{
    display: inline-flex;
    list-style: none;
}
.nav-items ul li a{
    text-decoration: none;
    padding: 5px 10px;
    font-size: 18px;
    letter-spacing: 1px;
    color: whitesmoke;
} 
.head{
    margin-top: 5px;
}
.head h3{
    background-color: #BF8339;
    text-align: center;
    letter-spacing: 2px;
    color: white;
    padding: 10px 20px;
}
.formy{
    text-align: center;
    justify-content: center;
    margin-top: 80px;
}
.formy input[type="text"]
{
    padding: 15px 30px;
    outline: none;
    width: 33%;
    margin: 5px 10px;
    border: none;
    border-radius: 12px;
    background-color:#024059;
    color: whitesmoke;
}
.formy textarea{
    padding: 10px 20px;
    outline: none;
    margin: 5px 10px;
    width: 33%;
    height: 20vh;
    border:none;
    border-radius: 12px;
    background-color: #024059;
    text-decoration: none;
    color: whitesmoke;
}
.formy button{
    margin-top: 8px;
    margin-bottom: 30px;
    text-align:center;
    padding: 8px 12px;
    border: none;
    font-size: 20px;
    border-radius: 15px;
    background-color: #BF8339;
    color: white;
}
::placeholder{
    color:white;
}
input:focus::placeholder {
    color: transparent;
}
